*{
    box-sizing: border-box;
    font-family: '標楷體';
    overflow: hidden;
}

body >*:not(aside,section),
aside>*,section>*{
    border: 1px solid lightgray;
    
}
.main{
    display: flex;
    width: 1024px;
    padding: 0 10px;
    margin: 10px auto;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}

.top{
    flex-basis: 1000px;
    height: 65px;
}

.aside{
    display: flex;
    flex-direction: column;
    flex-basis: 215px;
    height: calc(768px- 65px- 20px);    
}

.menu{
    flex-basis: calc(100%- 25px);
}

.update{
    flex-basis: 25px;
    font-family: '標楷體';
    font-size: 16px;
    color: #000000;
    text-align:center ;
}

.section{
    display: flex;
    flex-basis: calc(1000px- 215px);
}

.marquee{
    flex-basis: 29px;
    padding: 0 calc(1000px- 215px- 770px- 2px);
    font-family: '標楷體';
    font-size: 24px;
    color: #0000FF;
}
.content{
    flex-basis: calc(100%- 29px);  
}
.footer{
    flex-basis: 1000px;
    height: 20px;
    font-family: '標楷體';
}



